
<div class="contaiber-fluid sticky-top">

    <nav class="navbar navbar-expand-lg navbar-light contenedor-alto-smart">

        <div class="container-fluid">

            <a class="navbar-brand" href="/"><img class="img-fluid d-flex" src="assets/img/logo-smart-devs.svg"
                    alt=""></a>


            <button class="navbar-toggler ms-auto pe-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
                <span><img src="assets/img/icon-menu.svg" alt="" width="25px" height="25px"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="menu-link nav-link active-smart" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="menu-link text-white nav-link" [routerLink]="['marcas']">Marcas</a>
                    </li>
                    <li class="nav-item">
                        <a class="menu-link text-white nav-link" [routerLink]="['vehiculos']">Vehiculos</a>
                    </li>
                    <li class="nav-item">
                        <a class="menu-link text-white nav-link" [routerLink]="['departamentos']">DePartamentos</a>
                    </li>
                    <li class="nav-item">
                        <a class="menu-link text-white nav-link" [routerLink]="['clientes']">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="menu-link text-white nav-link" [routerLink]="['concesionario']">Concesionario</a>
                    </li>
                    <li class="nav-item">
                        <a class="menu-link text-white nav-link" [routerLink]="['cotizaciones']">Cotizaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="menu-link text-white nav-link" [routerLink]="['agentes']">Agentes</a>
                    </li>
                    <li class="nav-item">
                        <a class="menu-link text-white nav-link" [routerLink]="['municipios']">Municipios</a>
                    </li>
                </ul>

                <form class="d-flex contenedor-buscador-smart">
                    <input class="form-control me-2" type="search" placeholder="" aria-label="Search">
                    <button class="btn btn-light bg-white" type="submit">Buscar</button>
                </form>

            </div>

        </div>

    </nav>



    <div class="contenedor-iconos-smart">

        <div class="" href="#"><i class="icono-user"></i></div>

        <div class="navbar-toggler icono-carrito" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">

            <div class="contenedor-carrito-smart collapse navbar-collapse" id="navbarTogglerDemo03">
                <a class="titulo-carrito-smart" href="#">Carrito</a>
                <p class="subtitulo-carrito-smart">No hay productos en el carrito</p>
            </div>
        </div>

        <a href="tel:+50377253687"><i class="icono-movil"></i></a>
        <a href="mailto:informacion@smartdevs.com.gt"><i class="icono-correo"></i></a>

    </div>

</div>