
            <div class="card-header">
    
                    <form [formGroup]="mForma2" (ngSubmit)="onSubmit2()">
                    <div class="row p-0">

                        <div class="col">
                            <div class="form-group col">
                                <label for="FechaInicio">Inicio</label>
                                <input class="form-control" type="date" formControlName="FechaInicio"
                                    value="{{ post.startDate | date:'yyyy-MM-dd' }}">
                            </div>
                        </div>
                        <div class="form-group col">
                            <label for="FechaFin">Fin</label>
                            <input class="form-control" type="date" formControlName="FechaFin"
                                value="{{ post.endDate | date:'yyyy-MM-dd' }}">
                        </div>

                        <div class="col">
                            <label>.</label>
                            <button class="btn btn-outline-primary form-control" type="submit">
                                <span> Buscar </span>
                                <i style="margin-left: 5px;" class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>

                </form>
            </div>






<button type="button" data-toggle="modal" (click)="nuevo(content)" class="btn btn-primary btn-lg">Crear</button>
<div class="mt-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Agente Encargado</th>
                <th scope="col">Cliente</th>
                <th scope="col">Vencimiento</th>
                <th scope="col">Estado</th>
                <th scope="col">Creado</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of mCotizaciones; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{item.Agente}}</td>
                <td>{{item.Cliente}}</td>
                <td>{{item.Vencimiento | date:'dd/MM/yy'}}</td>
		    	<td>{{item.Estado}}</td>
			   <td>{{item.Created_At | date:'dd/MM/yy'}}</td>
               <td>
                <a href="javascript:void(0)"  (click)="detalle(item.id)" class="text-muted">
                    <i title="Detalle" class="fa fa-eye"> Detalle</i>
                </a>
               </td>
                <td>
                    <a href="javascript:void(0)" (click)="ver(content,item.id)" class="text-muted">
                        <i title="Ver información" class="fa fa-eye"> Ver</i>
                    </a>
                </td>
                <td>
                    <a href="javascript:void(0)" class="text-muted">
                        <i title="Modificar" (click)="modificar(content, item.id)" class="fa fa-pencil">Actualizar</i>
                    </a>
                </td>

                <td>
                    <a href="javascript:void(0)" (click)="eliminar( item.id)" class="text-muted">
                        <i title="Eliminar" class="fa fa-trash"> Eliminar</i>
                    </a>
                </td>
            </tr>

        </tbody>
    </table>
</div>



<ng-template #content let-modal #customLoadingTemplate>
    <form [formGroup]="mForma" (ngSubmit)="onSubmit()">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Marcas</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()"></button>
            <span aria-hidden="true">&times;</span>
        </div>
        <div class="modal-body">
            <div class="row">

                <div class="col">
                    <label for="Nombre">Vencimiento</label>
                    <input class="form-control" type="date"
                        [ngClass]="{ 'is-invalid': submitted && f.Vencimiento.errors }" formControlName="Vencimiento"
                        placeholder="Vencimiento" />
                    <div *ngIf="submitted && f.Vencimiento.errors" type="alert" class="invalid-feedback">
                        <div *ngIf="f.Vencimiento.errors?.required">
                            Vencimiento es requerido</div>
                    </div>
                </div>
                <div class="col">
                    <label for="TCAgenteId">Agentes</label>
                    <select class="form-control" name="Estado"
                        [ngClass]="{ 'is-invalid': submitted && f.TCAgenteId.errors }" formControlName="TCAgenteId">
                        <option value="null">-- seleccione --</option>
                        <option *ngFor="let x of mAgentes" [value]="x.id">{{x.Nombres}} {{x.Apellidos}}</option>
                    </select>
                    <div *ngIf="submitted && f.TCAgenteId.errors" type="alert" class="invalid-feedback">
                        <div *ngIf="f.TCAgenteId.errors.required">
                            Agente es Requerido</div>
                    </div>
                </div>





            </div>
            <!-- <div class="row">
	
			</div> -->
            <div class="row">
                <div class="col">
                    <label for="TCClienteId">Cliente</label>
                    <select class="form-control" name="Estado"
                        [ngClass]="{ 'is-invalid': submitted && f.TCClienteId.errors }"
                        formControlName="TCClienteId">
                        <option value="null">-- seleccione --</option>
                        <option *ngFor="let x of mClientes" [value]="x.id">{{x.Nombres}}{{x.Apellidos}}</option>
                    </select>
                    <div *ngIf="submitted && f.TCClienteId.errors" type="alert" class="invalid-feedback">
                        <div *ngIf="f.TCClienteId.errors.required">
                            Cliente es Requerido</div>
                    </div>
                </div>
                <div class="col">
                    <label for="Estado">Estado</label>
                    <select class="form-control" name="Estado"
                        [ngClass]="{ 'is-invalid': submitted && f.Estado.errors }" formControlName="Estado">
                        <option value="null">-- seleccione --</option>
                        <option *ngFor="let x of mEstado" [value]="x.Nombre">{{x.Nombre}}</option>
                    </select>
                    <div *ngIf="submitted && f.Estado.errors" type="alert" class="invalid-feedback">
                        <div *ngIf="f.Estado.errors.required">
                            Estado es Requerido</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button *ngIf="mFormaEstado === '1' || mFormaEstado === '3' " style="margin: 5px"
                class="btn btn-outline-primary">
                <i class="fa fa-save"></i>
                <span *ngIf="mFormaEstado === '1'">Crear</span>
                <span *ngIf="mFormaEstado ==='3'"> Actualizar</span>
            </button>
        </div>
    </form>
</ng-template>